form{
    margin: 100px;
    padding: 20px;
    display: block;
    background-color: black;
    color:greenyellow;
}
form input{
    height: 50px;
    width: 100%;
    font-size: 30px;
    outline:none;
}
button{
    font-size: 20px;
    padding: 10px;;
}